SLACK_TOKEN=<from slack web app dahsboard>
SLACK_VERIFICATION_TOKEN=<from slack web app dahsboard>
PNC_CHANNELS=<comma separated people and culture channels  prefixed with country eg  people-lagos-nigeria>
API_URL=<wire api url>
APP_URL=<wire frontend url>
ALLOWED_ORIGINS=<ideally wire api url>
NODE_ENV=<test|development|production>

